<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style type='text/css'>body, td {
        font-family: verdana;
        font-size: 15px;
        line-height: 225%;
    }

    table {
        width: 100%;
        background-color: #ccc;
        margin: 5px 0;
    }

    td {
        background-color: #fff;
        padding: 3px;
        padding-left: 10px;
    }

    tr td, th {

        border: 0px solid red;

    }

    thead td {
        text-align: center;
        font-weight: bold;
        background-color: #eee;
    }

    a:link, a:visited, a:active {
        color: #015FB6;
        text-decoration: none;
    }

    a:hover {
        color: #E33E06;
    }</style>
    <meta charset="utf-8">
    <title>查询资料</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all">
    <script src="webjars/jquery/3.3.1/jquery.js"></script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-col-sm12">
        <div class="layui-card">
            <div class="layui-card-body">
                <form class="layui-form" action="selectActivityById" method="post">
                    <div class="demoTable">
                        搜索ID：
                        <div class="layui-inline">
                            <input class="layui-input" name="ac_id" id="demoReload" autocomplete="off">
                        </div>
                        <button class="layui-btn" th:data-method="edit" >搜索</button>
                    </div>
                </form>
                <br>
                <table cellspacing='1' cellpadding='0'>
                    <thead>
                    <tr>
                        <td>活动ID</td>
                        <td>活动主题</td>
                        <td>活动申请人</td>
                        <td>活动经费</td>
                        <td>备注</td>
                        <td>状态</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tr th:each="activity:${activitys}">
                        <span th:if="${activity!=null}">
                        <td style='text-align:center;' th:text="${activity!=null}?${activity.ac_id}" class="ac_id"
                            th:value="${activity!=null}?${activity.ac_id}"></td>
                        <td align='center' th:text="${activity!=null}?${activity.ac_title}"></td>
                        <td align='center' th:text="${activity!=null}?${activity.ac_person}"></td>
                        <td align='center' th:text="${activity!=null}?${activity.ac_money}"></td>
                            <td align='center' th:text="${activity!=null}?${activity.ac_remarks}"></td>
                        <td align='center' th:text="${activity!=null}?${activity.ac_status}"></td>
                        <td align='center'>
                            <a class="layui-btn layui-btn-xs edit" th:value="${activity.ac_id}">通过</a>
                            <a class="layui-btn layui-btn-xs edit1" th:value="${activity.ac_id}">不通过</a>
                            <a class="layui-btn layui-btn-danger layui-btn-xs del"
                               th:value="${activity!=null}?${activity.ac_id}">删除</a>
                        </td>
</span>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/static/layuiadmin/layui/layui.js"></script>
<script>

    layui.use(['element', 'jquery', 'layer'], function () {
        var $ = layui.jquery, layer = layui.layer;

        $(".edit").click(function () {
            var ac_status = $(this).attr('value');
            layer.confirm('您确定要进行此操作吗？', {
                btn: ['Yes', 'No'], //按钮
                yes: function (index, layero) {
                    $.ajax({
                        url: '/updateactivity/' + ac_status,
                        type: 'GET', //GET
                        async: true,    //或false,是否异步
                        timeout: 5000,    //超时时间
                        dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                        success: function (data) {
                            if (data.i!=0){
                                alert('操作成功');
                            }
                        },error:function () {
                                alert('服务器异常');
                        }
                    });
                    layer.close(index);
                }, end: function () {
                    location.reload();
                }
            });
        });
        $(".del").click(function () {
            var ac_status = $(this).attr('value');
            layer.confirm('您确定要进行此操作吗？', {
                btn: ['Yes', 'No'], //按钮
                yes: function (index, layero) {
                    $.ajax({
                        url: '/deleteactivity/' + ac_status,
                        type: 'GET', //GET
                        async: true,    //或false,是否异步
                        timeout: 5000,    //超时时间
                        dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                        success: function (data) {
                            if (data.i!=0){
                                alert('操作成功');
                            }
                        },error:function () {
                            alert('服务器异常');
                        }
                    });
                    layer.close(index);
                }, end: function () {
                    location.reload();
                }
            });
        });

        $(".edit1").click(function () {
            var ac_status = $(this).attr('value');
            layer.confirm('您确定要进行此操作吗？', {
                btn: ['Yes', 'No'], //按钮
                yes: function (index, layero) {
                    $.ajax({
                        url: '/updateactivity1/' + ac_status,
                        type: 'GET', //GET
                        async: true,    //或false,是否异步
                        timeout: 5000,    //超时时间
                        dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                        success: function (data) {
                            if (data.i!=0){
                                alert('操作成功');
                            }
                        },error:function () {
                            alert('服务器异常');
                        }
                    });
                    layer.close(index);
                }, end: function () {
                    location.reload();
                }
            });
        });
    });
</script>

</body>
</html>