<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>修改资料</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all">
    <script src="webjars/jquery/3.3.1/jquery.js"></script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-col-sm12">
        <div class="layui-card">
            <div class="layui-card-body">
                <form class="layui-form" action="/updateassociation" method="post">
                    <div class="layui-form-item">
                        <label class="layui-form-label">社团负ID</label>
                        <div class="layui-input-inline">
                            <input type="text" name="as_id" required lay-verify="required" th:value="${association.as_id}"
                                   autocomplete="off" class="layui-input" readonly>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">社团名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="as_name" required lay-verify="required" placeholder="请输入社团名称"
                                   autocomplete="off" class="layui-input" th:value="${association.as_name}">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">社团负责人</label>
                        <div class="layui-input-inline">
                            <input type="text" name="as_person" required lay-verify="required" placeholder="请输入社团负责人"
                                   autocomplete="off" class="layui-input" th:value="${association.as_person}">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">负责人电话</label>
                        <div class="layui-input-inline">
                            <input type="text" name="as_phone" required lay-verify="required" placeholder="请输入负责人电话"
                                   autocomplete="off" class="layui-input"th:value="${association.as_phone}">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">邮箱</label>
                        <div class="layui-input-inline">
                            <input type="text" name="as_email" required lay-verify="required" placeholder="请输入邮箱"
                                   autocomplete="off" class="layui-input"th:value="${association.as_email}">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">请选择时间</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" id="test1" name="as_time" th:value="${association.as_time}" placeholder="yy-MM-dd">

                        </div>
                    </div>
                    <div class="layui-form-item layui-hide">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="formDemo" id="layuiadmin-app-form-submit" >立即提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/static/layuiadmin/layui/layui.js"></script>
<script>
    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#test1' //指定元素
        });
    });
</script>

</body>
</html>