<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>设置我的资料</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all">
    <script src="webjars/jquery/3.3.1/jquery.js"></script>
</head>
<body>
<!--/*@thymesVar id="msg" type=""*/-->
<blockquote class="layui-elem-quote" th:if="${msg}!=null">
    <span th:text="${msg}"></span>
</blockquote>
<div class="layui-fluid">
    <div class="layui-col-sm12">
        <div class="layui-card">
            <div class="layui-card-body">

                <form class="layui-form" action="" method="post" >

                    <div class="layui-form-item">
                        <label class="layui-form-label">姓名</label>
                        <div class="layui-input-block">
                            <input type="text" name="m_name" required lay-verify="required" placeholder="请输入姓名"
                                   autocomplete="off" class="layui-input" id="m_name">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">性别</label>
                        <div class="layui-input-block">
                            <input type="radio" name="m_sex" value="男" title="男" checked="" class="m_sex">
                            <input type="radio" name="m_sex" value="女" title="女" class="m_sex">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">电话</label>
                        <div class="layui-input-inline">
                            <input type="text" name="m_phone" required lay-verify="required" placeholder="请输入电话"
                                   autocomplete="off" class="layui-input" id="m_phone">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">邮箱</label>
                        <div class="layui-input-inline">
                            <input type="text" name="m_email" required lay-verify="required" placeholder="请输入邮箱"
                                   autocomplete="off" class="layui-input" id="m_email">
                        </div>
                    </div>

                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">年龄</label>
                        <div class="layui-input-block">
                            <input type="text" name="m_age" required lay-verify="required" placeholder="请输入年龄"
                                   autocomplete="off" class="layui-input " id="m_age">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn"  type="button" id="subit-btn" onclick="send()">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary" id="addmember">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/static/layuiadmin/layui/layui.js"></script>
<script>
    layui.use('form', function(){
        var form = layui.form;
    });
</script>
<script>
    function send() {
        var m_name=$("#m_name").val();
        var m_sex=$(".m_sex").val();
        var m_phone=$("#m_phone").val();
        var m_email=$("#m_email").val();
        var m_age=$("#m_age").val();
        var myFrom=$("#addmember");
        $.ajax({
            url: '/addmember',
            type: 'POST', //GET
            async: true,    //或false,是否异步
            timeout: 5000,    //超时时间
            dataType: 'json', //返回的数据格式：json/xml/html/script/jsonp/text
            data:{
                'm_name':m_name,
                'm_sex':m_sex,
                'm_phone':m_phone,
                'm_email':m_email,
                'm_age':m_age
            },
            success: function (data) {
              if(data>0){
                  alert('添加成功');
                  myFrom.click();
              }
            },
            error : function() {
                alert("网络连接异常...");
            }
            });
    }
</script>

</body>
</html>